/* for mobile devices write css here */
 
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', sans-serif; 
}
.banner-img{
    z-index: -11;
 
    position: absolute;
    object-fit: cover;
    height: 65vh;
    width: 100%;

}

.bg-img{
    position: absolute;
    
    height: 65vh;
    width: 100%;

}

.main{

   height: 65vh;
  

}

.info{
  position: relative;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  color: white;
  gap: 20px;
}

.info{
  position: relative;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  color: white;
  gap: 20px;
}

.info h1 {
  font-size: 38px;
}
.dis{
  font-size: 25px;
  color: dodgerblue;
  /* color: blue; */
}

.infos{
  display: none;
}

.nav-container{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px auto ;
  /* height: 40px; */
  color: white;
  font-size: 14px;
  border-bottom: 2px solid white;
}

.logo{
  height: 50px;
}


.info{
  position: relative;
  width: 90%;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  color: white;
  gap: 20px;
}

.info h1 {
  font-size: 30px;
  text-align: center;
}
.dis{
  font-size: 20px;
  color: dodgerblue;
  text-align: center;
  /* color: blue; */
}

.search-sec{
  display: none;
}

.search-sec-mb{
  display: flex;
  flex-direction: column;
  width: 300px;
  /* background-color: aqua; */
  
}
.sec1-mb{
  display: flex;
  justify-content: start;
  margin: 5px;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
}
.search-op{
  flex: 1;
  color: #e53b51;
  font-size: 12px;
}
.search-menu{
  flex: 2;
  padding-left: 10px;
  text-align: start;
  color: black;
}
#search-btn{
  background-color: #e53b51;
}

.searchbtn-mb{
  flex: 1;
  text-align: center;
}

@media  screen and (min-width : 768px) {
.infos{
  display: block;
}

.search-sec{
  display: block;
}

.search-sec-mb{
  display: none;
}

  .nav-container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin:  auto ;
    /* height: 40px; */
    color: white;
    font-size: 14px;
    border-bottom: 2px solid white;
  }

  .logo-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px ;
  }
  .logo{
    height: 50px;
  }
  .btn{
    padding: 5px 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
  }

  .info{
    position: relative;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    color: white;
    gap: 20px;
  }

  .info h1 {
    font-size: 38px;
  }
  .dis{
    font-size: 22px;
    color: dodgerblue;
    /* color: blue; */
  }



  .search-op{
    display: flex;
    width: 700px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
    
  }
  .search-op p{
    font-size: 12px;
    padding: 10px 20px;
    flex: 1;
    text-align: center;
    
  }

  .search{
    display: flex;
    width: 700px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .search p{
    padding: 15px 20px;
    flex: 1;
    text-align: center;
    border: 2px solid white;
  }
  
  #blanksp{
    flex : 0.6;
    padding: 15px 15px;
  }
  #searchbtn{
    flex: 0.6;
    background-color: #e53b51;
    padding: 15px 15px;

  }

   .tranding-sec {
      width: 95%;
      margin: 0 auto 20px;
  }
  .project-sec {
    width: 95%;
    margin: 0 auto 20px;
}
  
  .tranding-sec h1 {
    margin: 40px 0 5px;
      font-size: 28px;
      color: rgb(53, 198, 235);
  }

  .project-sec h1{
    
      margin: 40px 0 5px;
        font-size: 28px;
        color: rgb(53, 198, 235);
    
  }
  
  .tranding-items {
      display: flex;
      justify-content: space-between;
      /* flex-wrap: wrap; */
      gap: 10px;
  }

  .project-items {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 10px;
}

  .feature-items {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 10px;
}

  
  .tranding-tem {
      position: relative;
      /* width: 23%; */
      width: 350px;
      height: 40vh;
      /* background-color: rgb(53, 198, 235); */
  }

  .project-tem {
    position: relative;
    /* width: 23%; */
    width: 300px;
    height: 40vh;
    /* background-color: rgb(53, 198, 235); */
}

  .feature-tem{
    position: relative;
    /* width: 23%; */
    width: 230px;
    height: 20vh;
    /* background-color: rgb(53, 198, 235); */
}
  
  .iteamimg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
  }
  
  .iteambg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
  }
  
  .iteamtxts {
      position: relative;
      z-index: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: start;
      padding: 10px;
      /* background: rgba(0, 0, 0, 0.5); Optional: Add a semi-transparent background for better text visibility */
  }
  
  .iteaml {
      display: inline;
      font-size: 13.5px;
      background-color: white;
      color: #e53b51;
      padding: 2px;
      border-radius: 2px;
      margin-bottom: 3px;
  }

  .feiteaml {
    display: inline;
    font-size: 27px;
    background-color: white;
    color: #e53b51;
    padding: 2px;
    border-radius: 2px;
    margin-bottom: 3px;
}

  
  .iteamh {
      color: white;
      font-size: 15px;
      margin-bottom: 3px;
  }
  
  .feiteamh {
    color: white;
    font-size: 15px;
    margin-bottom: 3px;
}
  .iteamd {
      color: rgb(53, 198, 235);
      font-size: 15px;
      margin-bottom: 7px;
  }
  .feiteamd {
    /* color: rgb(53, 198, 235); */
    color: white;
    font-size: 15px;
    margin-bottom: 3px;
}
  
  .itemr {
      color: white;
      font-size: 13.5px;
      margin-bottom: 3px;
  }
  .feitemr {
    color: white;
    font-size: 18px;
    margin-bottom: 3px;
}


  .feature-sec{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .feature-sec h1 {
    margin: 40px 0 5px;
    font-size: 28px;
    color: rgb(53, 198, 235);
}
  .featurel {
    display: inline;
    font-size: 15px;
    /* background-color: white; */
    color: #e53b51;
    padding: 2px;
    /* border-radius: 2px; */
    margin-bottom: 10px;
}

.featureh{
    color: white;
    font-size: 15px;
    margin-bottom: 3px;
}


}

@media screen and (min-width : 1024px) {

    
}